@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333;
  background-color: #f2f2f2;
}

.clear-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.frame {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.2);
  background-color: #fff;
}

.navigation {
  width: 1060px;
  position: relative;
  z-index: 1;
  display: flex;
  padding: 0 70px;
  height: 70px;
}

.navigation-index {
  margin-bottom: 5px;
}

.navigation-button {
  display: block;
  font-size: 16px;
  width: 160px;
  padding: 9px 5px;
  padding-right: 7px;
  line-height: 20px;
  border-radius: 4px;
  box-sizing:border-box;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 324px;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navigation-user {
  max-width: 255px;
  align-items: center;
  margin-left: auto;
  margin-top: 5px;

}

.navigation-link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  text-decoration: none;
  text-align: center;
  padding: 20px 7px;
}

.navigation-link-icon {
  position: relative;
}

.navigation-link:hover {
  border-bottom: 2px solid #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-icon {
  fill: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  margin-bottom: -10px;
}

.page-header-logo {
  margin-right: 40px;
}

.page-header-logo img {
  display: block;
}

.main-img {
  min-width: 100%;
  position: relative;
  color: #000;
  background-color: #fff;
  background: url("../image/icons/wave.svg") bottom center/100% no-repeat,
  url("../image/index-background.jpg") top center/cover no-repeat;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 46px;
  min-height: 439px;
}

.main-img::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/wave.svg");
  background-position: 0 100%;
}

.main-wrapper {
  text-align: center;
  padding-bottom: 64px;
}

.main-subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  margin: 63px 240px 25px 240px;
}

.main-description {
  font-size: 22px;
  line-height: 36px;
  /* margin-bottom: 6px; */
}

.hotels-list {
  display: grid;
  gap: 18px;
  grid-template-columns: 340px 340px 340px;
  justify-items: center;
}

.hotels-card {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 405px;
  padding: 20px;
}

.hotels-card-title {
  margin: 0;
  margin-top: 17px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-catalog {
  padding: 70px;
  padding-top: 0;
}

.hotels-type {
  width: 160px;
  margin: 0;
}

.hotels-price {
  margin: 0;
}

.hotel-card-stars {
  margin: 0;
  height: 40px;
  width: 40px;
  background-image: url("../image/icons/star.svg");
  background-repeat: repeat-x;
  background-position: left center;
}

.star-box {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.hotel-card-stars-3 {
  width: 65px;
}

.hotel-card-stars-4 {
  width: 90px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 90px;
}

.advantages-wrapper {
  width: 33.333%;
  padding-top: 95px;
  padding-bottom: 92px;
  max-height: 197px;
}

.advantages-sublist {
  display: flex;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 85px;
  margin-left: 85px;
}

.advantages-title-white {
   color: #fff;
   margin-top: 0;
}

.advantages-bar {
  width: 60px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin: auto;
}

.advantages-wrapper-large {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.advantages-wrapper-blue {
  background-color: #83B3D3;
  color: #fff;
}

.advantages-list img {
  display: block;
}

.advantages-wrapper-blue-light {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333;
}

.advantages-wrapper-blue-cold {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-descriptions {
  margin-top: 34px;
  margin-right: 85px;
  margin-left: 85px;
}

.found-descr {
  text-transform: uppercase;
}

.search {
  text-align: center;
  margin-bottom: 93px;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.search-description {
  width: 720px;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 55px;
  margin-left: auto;
  margin-right: auto;
}

.search-button {
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 10px;
  line-height: 36px;
  min-width: 377px;
  min-height: 50px;
  font-size: 20px;
  border-radius: 4px;
}

.subscribe {
  background-image: url("../image/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  color: #fff;
  padding: 95px 200px;
  margin-bottom: 40px;
}
.subscribe-description {
  width: 530px;
  margin: 0 auto;
  font-size: 22px;
  margin-bottom: 60px;
}

.subscribe-catalog {
  text-align: center;
  margin-bottom: 141px;
}

.subscribe-title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 26px;
}

.subscribe-field {
  background-color: #F2F2F2;
  color: #000;
  min-width: 435px;
  height: 60px;
  border-radius: 4px 0 0 4px;
  border: 0;
  font-size: 18px;
  line-height: 21px;
  padding-left: 20px;
}

.subscribe-button {
  min-height: 60px;
  border-radius: 0 4px 4px 0;
  font-size: 20px;
  line-height: 36px;
  border: 0;
  padding: 10px 50px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.hotel-rate {
  background-color: #F2F2F2;
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

.card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #000;
  text-decoration: none;
}

.card-image {
  object-fit: cover;
}

.page-footer {
  margin: 0 auto;
  display: flex;
  width: 1066px;
}

.footer-social {
  width: 208px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 143px;
  margin-top: 17px;
}

.social-link{
  display: inline-block;
  margin-right: auto;
  color: #83B3D3;
  height: 70px;
  width: 20px;
}

.social-link:hover path {
  fill: #68a2ca;
}

.social-link:active path {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-phone {
  width: 677px;
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

.phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.phone-link:hover {
  color: #756157;
}

.phone-link:focus-visible {
  color: #756157;
}

.phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.developer {
  margin: 0;
  margin-top: 8px;
  margin-left: 62px;
}

.developer-icon {
  display: block;
  color: #000;
}

.developer-icon:hover {
  color: #756157;
}

.developer-icon:focus-visible {
  color: #756157;
}

.developer-icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter-img {
  background-image: url("../image/catalog-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  padding: 35px 70px 70px 70px;
  margin-top: 5px;
  margin-bottom: 43px;
}

.button-form {
  margin-left: auto;
  margin-top: 55px;
}

.check-box {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -40px;
  border-radius: 5px;
  background-color: #fff;
}

.control-input {
  appearance: none;
  margin-left: 33px;
}

.control-input:checked + .check-box {
  background-image: url(../image/icons/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.control-input:focus-visible + .check-box {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.control-input:checked:focus-visible + .check-box {
  background-color: rgba(255, 255, 255, 0.6);
  background-image: url("../images/input-icons/mark.svg");
  background-repeat: no-repeat;
  background-position: center;
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.radio {
  position: relative;
  display: block;
  padding-left: 39px;
}

.radio-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.radio-input[type="radio"]:focus + .radio-mark {
  outline: 3px solid #83b3d3;
  background-color: rgba(255, 255, 255, 0.6);
}

.radio-input[type="radio"]:active + .radio-mark {
  background-color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.radio-input[type="radio"]:hover + .radio-mark {
  background-color: rgba(255, 255, 255, 0.6);
}

.radio-input[type="radio"]:checked + .radio-mark::after {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #3f5e72;
  top: 5px;
  left: 5px;
}

.radio-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.catalog-form {
  display: flex;
  position: relative;
}

.catalog-filter-title {
  border: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 35px;
}

.catalog-price-title {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-price-group {
  width: 290px;
  padding: 0;
  border: 0;
  /* margin-top: 7px; */
  margin-left: 47px;
  box-sizing: border-box;
}

.catalog-filter-label {
  position: relative;
  height: 48px;
}

.catalog-filter-label span {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  color: #000;
  opacity: 0.3;
}

.catalog-filter-label:first-child .range-input {
  border-radius: 4px 0 0 4px;
}

.catalog-filter-label:nth-child(2) .range-input {
  border-radius: 0 4px 4px 0;
}

.catalog-filter-container {
  width: 1090px;
  margin: 0 auto;
}

.catalog-filter-service {
  margin-right: 30px;
  border: none;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 15px;
}

.catalog-filter-list {
  margin-right: 71px;
}

.price-cost {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 34px;
}

.value-min-box {
  position: relative;
}

.value-max-box {
  position: relative;
}

.range {
  position: relative;
  width: 290px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}

.range-bar {
  width: 220px;
  height: 4px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
}

.range-input {
  box-sizing: border-box;
  width: 143px;
  height: 100%;
  padding: 12px 0 12px 20px;
  border: none;
  font-weight: 700;
  font-size: 18px;
}

.range-wrapper-inputs {
  display: flex;
  width: 288px;
  justify-content: space-between;
  margin-bottom: 45px;
}

.range-scale  {
  min-width: 287px;
  padding: 0;
  border: none;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 205px;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 42px;
}

.breadcrumbs-link::before {
  position: absolute;
  background-image: url(../image/icons/pointer.svg);
  background-repeat: no-repeat;
}

.breadcrumbs-link {
  font-size: 16px;
  padding-right: 26px;
  color: #fff;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  margin-bottom: 5px;
}

.found-descr {
  margin: 0;
  margin-right: 153px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
}

.catalog-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.select-control {
  position: relative;
  height: 48px;
  min-width: 290px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  /* margin-right: 67px; */
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  font-family: inherit;
  color: #333333;
  appearance: none;
  background-image: url(../image/icons/select.svg);
  background-repeat: no-repeat;
  background-position: right 21px center;
  background-color: #ffffff;
  padding: 12px 19px;
}

.select-control:focus {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}

.select-control:active {
  opacity: 0.3;
}

.select-control:hover {
  border: 2px solid #83b3d3;
}

.sort-list {
  display: flex;
  min-width: 170px;
  height: 48px;
  justify-content: space-around;
  align-items: center;
}

.sort-card {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center
}

.sort-card:hover {
  border: 2px solid #83b3d3;
}

.sort-card-—Åurrent {
  border: 2px solid #000;
}

.sort-icon {
  display: block;
  width: 50px;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(6,55px);
  gap: 15px;
}

.pagination-container {
  margin-left: 70px;
  margin-bottom: 155px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 405px;
}

.pagination-link {
  display: block;
  text-decoration: none;
  background-color: #83B3D3;
  color: #fff;
  padding: 15px 15px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px
}

.pagination-item:nth-child(4) {
  color: transparent;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: #82B3D3;
}

.pagination-link-current {
  background-color: #F2F2F2;
  color: #000
}

.pagination-link-current:hover {
  background-color: #F2F2F2;
}

.pagination-link-current:active {
  background-color: #F2F2F2;
}

.select-descr {
  line-height: 23px;
}

/* BUTTON */

.button {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}

.button-brown {
  background-color: #756257;
}

.button-brown:hover {
  background-color: #615048;
}

.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background-color: #e5e5e5;
}

.button-brown:disabled {
  background-color: #E5E5E5;
}

/* BLUE BUTTON */

.button-blue {
  background-color: #83B3D3;
}

.button-blue:hover {
  background-color: #68A2CA;
}

.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:active {
  background-color: #82B3D3;
}

.button-blue:disabled{
  background-color: #E5E5E5;
}
/*
GREEN BUTTON */

.button-green {
  background-color: #7DB54F;
}

.button-green:hover {
  background-color: #6C9E42;
}

.button-green:focus {
  background-color: #6C9E42;
}

.button-green:active {
  background-color: #E5E5E5;
}

.button-green:disabled{
  background-color: #E5E5E5;
}

.button-more,
.button-favorite,
.button-check {
  font-size: 16px;
  line-height: 21px;
  padding: 10px;
  padding: 7px 10px;
  border-radius: 4px;
}

.hotel-button {
  display: flex;
  justify-content: space-between;
}

.button-more {
  width: 120px;
}

.button-favorite {
  width: 120px;
}

.button-clear {
  background-color: #F2F2F2;
  color: #333;
}

.button-check {
  border: none;
  width: 190px;
  height: 35px;
  display: block;
  margin-bottom: 40px;
}

.button-reset {
  border: none;
  background-color: transparent;
  color: #fff;
  margin-left: 60px;
  padding: 0;
  font-size: 16px;
}

.button-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.like-icon {
  margin-right: 10px;;
}

.like-icon::before {
  position: absolute;
  bottom: 16px;
  left: 8px;
  content: "12";
  display: flex;
  justify-content: center;
  font-size: 10px;
  color: #ffffff;
  width: 20px;
  background-color: #7db54f;
  border-radius: 50px;
  z-index: 1;
}

/* MODAL PAGE */

.modal-page{
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(242, 242, 242, 0.8);
  z-index: 9001;
}

.modal-container {
  width: 575px;
  margin: 0 auto;
}

.modal-box {
  position: absolute;
  top: 67px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  width: 715px;
  height: 561px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding-top: 42px;
  padding-right: 5px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
  margin-top: -6px;
}

.modal-title {
  font-size: 30px;
  line-height: 1.33;
  text-transform: uppercase;
}

.close-modal {
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
}

.close-modal:hover {
  background-color: #e6e6e6;
}

.close-modal:focus-visible {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.close-modal:active {
  background-color: #e6e6e6;
  opacity: 0.6;
}

.modal-form {
  display: grid;
  grid-template-columns: 140px 135px 158px auto;
  row-gap: 26px;
  column-gap: 4px;
  align-items: center;
  font-weight: 700;
}

.start-date {
  grid-column: 1/2;
  margin-bottom: 13px;
}

.start-arrival-date {
  appearance: none;
  width: 420px;
  height: 50px;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.22px;
  margin-left: 11px;
  padding-left: 19px;
  margin-bottom: 13px;
}
